
body { 
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #000000, #0d0d0d, #1a1a1a, #222831);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  color: white;
} 

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.foto {
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  align-items: center;
}

p {
    ext-align: center;
  font-weight: 500;
  color: #b5b5b5;
}

h2 { 
     font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  color: #f5f5f5;
}

.texto-container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  color: #e0e0e0;
}

.texto-container h1,
.texto-container p {
  opacity: 0;
  transform: translateY(20px); 
  animation: fadeInUp 1s forwards; 
}


.texto-container p {
  animation-delay: 0.3s;
}

.texto-container p:nth-of-type(1) {
  animation-delay: 0.8s;
}

.texto-container p:nth-of-type(2) {
  animation-delay: 1.3s;
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.icones {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.icones a {
  color: #ffffff;      
  font-size: 40px;      
  transition: color 0.3s ease, transform 0.3s ease;
}

.icones a:hover {
  color: #e0e0e0;       
  transform: scale(1.2);
}